<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capa_presentacion.Properties.Settings.dbGestionGruposConnectionString"
            connectionString="Data Source=.;Initial Catalog=dbGestionGrupos;User ID=sa;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="capa_presentacion.Properties.Settings.ConnectionString"
            connectionString="Dsn=doblev;uid=sa" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>